<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotusyu.permission.data.mapper.UserMapper">

    <select id="getUserById" resultType="com.lotusyu.permission.data.po.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

<!--    <insert id="insertUser" parameterType="com.example.model.User">-->
<!--        INSERT INTO user (id, name, age) VALUES (#{id}, #{name}, #{age})-->
<!--    </insert>-->

<!--    <update id="updateUser" parameterType="com.example.model.User">-->
<!--        UPDATE user SET name = #{name}, age = #{age} WHERE id = #{id}-->
<!--    </update>-->

<!--    <delete id="deleteUser" parameterType="int">-->
<!--        DELETE FROM user WHERE id = #{id}-->
<!--    </delete>-->

</mapper>
